{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "jest": true
    },
    "globals": {
    },
    "rules": {
        "prefer-arrow-callback": "off",
        "func-names": "off"
    }
}
